---
import { Image } from 'astro:assets'
import BaseLayout from '~/layouts/base-layout.astro'
import { SITE_TITLE_ABOUT } from '~/consts'

import { author_michael } from '~/assets'
---

<BaseLayout site_title={SITE_TITLE_ABOUT}>
  <section id='about'>
    <div class='container m-auto max-w-7xl space-y-24 p-12'>
      <h1 class='text-center text-3xl'>ABOUT</h1>
      <div class='grid grid-cols-1 gap-8 md:grid-cols-2'>
        <Image
          src={author_michael}
          alt='Image of Author Michael Shane'
          format='avif'
        />
        <div class='flex flex-col gap-4'>
          <h2 class='text-2xl uppercase'>Michael Shane</h2>
          <p>
            Introducing Michael Shane, a visionary author who weaves
            extraordinary tales within the realms of science fiction and
            fantasy. Proudly calling Seattle, Washington, home, Michael's
            literary journey has ascended to the pinnacle of success, gracing
            the prestigious New York Times bestseller list. Through his words,
            readers are transported to worlds unknown, where technology and
            magic collide, and the boundaries of imagination are endlessly
            pushed. Join Michael on a thrilling exploration of the
            extraordinary, where every page is an invitation to embark on a
            remarkable adventure.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
