---
import BaseLayout from "~/layouts/base-layout.astro";
---
<BaseLayout>
  <section id='hero-main'>
    <!-- IMG -->
    <!-- TEXT -->
    <p class='text-3xl text-sky-400'>'Tomorrow is going to be different than yesterday,'</p>
    <p>it's going to be a lot different.</p>
  </section>
</BaseLayout>
