---
import { Image } from 'astro:assets'
import BaseLayout from '~/layouts/base-layout.astro'
import { SITE_TITLE_EVENTS } from '~/consts'

import { book_store_1, book_store_2 } from '~/assets'
---

<BaseLayout site_title={SITE_TITLE_EVENTS}>
  <section id='events'>
    <div class='container m-auto max-w-7xl space-y-24 p-12'>
      <h1 class='text-center text-3xl'>UPCOMING EVENTS</h1>
      <div class='grid grid-cols-1 gap-8 md:grid-cols-2'>
        <Image src={book_store_1} alt='Image of Book Store 1' format='avif' />
        <div class='flex flex-col gap-4'>
          <p>September 6, 2023</p>
          <p>6:00 PM</p>
          <p>B & N Theatre</p>
          <p>1234 Main Street, Los Angeles, CA 90021</p>
          <p>
            NOTE: Join acclaimed author Michael Shane for a enchanting book
            signing event on September 6, 2023 at the B & N Theatre, where the
            magic of his storytelling comes to life.
          </p>
        </div>
      </div>
      <div class='grid grid-cols-1 gap-8 md:grid-cols-2'>
        <Image src={book_store_2} alt='Image of Book Store 2' format='avif' />
        <div class='flex flex-col gap-4'>
          <p>November 6, 2023</p>

          <p>8:00 PM</p>
          <p>O & R Theatre</p>
          <p>1234 Main Street, Portland, OR 97221</p>
          <p>
            NOTE: Join acclaimed author Michael Shane for a spellbinding book
            signing event on November 6, 2023 at O & R Theatre, where the magic
            of his storytelling comes to life.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
